<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Aaron Mandseth - Full stack developer</title>
	</head>
	<body>
		<div class="container">
			<%- include("partials/header"); %>

			<%- include("partials/introduction"); %>
			<%- include("partials/work"); %>
			<%- include("partials/about"); %>

			<%- include("partials/footer"); %>

			<%- include("partials/modal"); %>
		</div>
	</body>
</html>